---
//pages/index.astro
// Redirección a la versión por defecto (01)
const defaultVersion = '01';
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Redireccionando a Timbaya</title>
  <meta http-equiv="refresh" content={`0;url=/${defaultVersion}`}>
</head>
<body>
  <p>Redireccionando a la página principal...</p>
  
  <script define:vars={{ defaultVersion }}>
    window.location.href = `/${defaultVersion}`;
  </script>
</body>
</html>
