.fondo-icon {
  position: absolute;
  top: -130px;
  left: -691px;
  width: 1813px;
  height: 1062px;
  object-fit: cover;
}
.degradado-negro-icon {
  position: absolute;
  bottom: 0;
  left: -567px;
  width: 1920px;
  height: 423px;
  object-fit: cover;
}
.moneda1-icon {
  top: 311px;
  left: 16px;
  width: 78px;
  height: 92px;
}
.icon,
.moneda1-icon,
.moneda2-icon {
  position: absolute;
  object-fit: cover;
}
.moneda2-icon {
  top: 0;
  right: -11px;
  width: 96px;
  height: 101px;
}
.icon {
  top: 217px;
  left: 16px;
  width: 71px;
  height: 69px;
}
.olympuszeus-icon {
  top: 150px;
  left: 55px;
  width: 375px;
  height: 486px;
}
.botonrojo-icon,
.logo-vegas-icon,
.olympuszeus-icon {
  position: absolute;
  object-fit: cover;
}
.botonrojo-icon {
  top: 579px;
  left: -1px;
  width: 561px;
  height: 161px;
}
.logo-vegas-icon {
  bottom: 96px;
  left: 81px;
  width: 268px;
  height: 71px;
}
.premiosenelacto-icon {
  position: absolute;
  top: 55px;
  left: 22px;
  width: 387px;
  height: 169px;
  object-fit: cover;
}
.joker-icon {
  position: absolute;
  top: 199px;
  right: -15px;
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.iphone-14-pro-max-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 932px;
}
